@page
@model AnviLightCode.Pages.User.ShoppingModel
@{
}


<section id="featured-books" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header align-center">
                    <h2 >Hàng thiết kế sẵn</h2>
                </div>

                <div class="product-list" data-aos="fade-up">
                    <div class="row">

                        <!-- Sản phẩm 1 -->
                        <div class="col-md-3">
                            <a href="/User/ProductDetail?id=1" class="text-decoration-none">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="~/stylecommon/images/image_1_r.png" alt="Đèn Trung Thu Rằm" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                            Thêm vào giỏ hàng
                                        </button>
                                    </figure>
                                    <figcaption>
                                        <h3>Đèn Trung Thu Rằm</h3>
                                        <span>Thủ công Hội An</span>
                                        <div class="item-price">400,000 ₫</div>
                                    </figcaption>
                                </div>
                            </a>
                        </div>

                        <!-- Sản phẩm 2 -->
                        <div class="col-md-3">
                            <a href="/User/ProductDetail?id=1" class="text-decoration-none">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="~/stylecommon/images/image_2_r.png" alt="Đèn Lồng Hình Cá" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                            Thêm vào giỏ hàng
                                        </button>
                                    </figure>
                                    <figcaption>
                                        <h3>Đèn Lồng Hình Cá</h3>
                                        <span>Thủ công Hội An</span>
                                        <div class="item-price">450,000 ₫</div>
                                    </figcaption>
                                </div>
                            </a>
                        </div>

                        <!-- Sản phẩm 3 -->
                        <div class="col-md-3">
                            <a href="/User/ProductDetail?id=2" class="text-decoration-none">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="~/stylecommon/images/image_4_r.png" alt="Đèn Lồng Hoa Sen" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                            Thêm vào giỏ hàng
                                        </button>
                                    </figure>
                                    <figcaption>
                                        <h3>Đèn Lồng Hoa Sen</h3>
                                        <span>Thủ công Huế</span>
                                        <div class="item-price">380,000 ₫</div>
                                    </figcaption>
                                </div>
                            </a>
                        </div>

                        <!-- Sản phẩm 4 -->
                        <div class="col-md-3">
                            <a href="/User/ProductDetail?id=3" class="text-decoration-none">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="~/stylecommon/images/image_2_r.png" alt="Đèn Lồng Trăng Rằm" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                            Thêm vào giỏ hàng
                                        </button>
                                    </figure>
                                    <figcaption>
                                        <h3>Đèn Lồng Trăng Rằm</h3>
                                        <span>Thủ công Huế</span>
                                        <div class="item-price">500,000 ₫</div>
                                    </figcaption>
                                </div>
                            </a>
                        </div>


                        <!-- Sản phẩm 1 -->
                        <div class="col-md-3">
                            <a href="/User/ProductDetail?id=1" class="text-decoration-none">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="~/stylecommon/images/image_1_r.png" alt="Đèn Trung Thu Rằm" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                            Thêm vào giỏ hàng
                                        </button>
                                    </figure>
                                    <figcaption>
                                        <h3>Đèn Trung Thu Rằm</h3>
                                        <span>Thủ công Hội An</span>
                                        <div class="item-price">400,000 ₫</div>
                                    </figcaption>
                                </div>
                            </a>
                        </div>

                        <!-- Sản phẩm 2 -->
                        <div class="col-md-3">
                            <a href="/User/ProductDetail?id=1" class="text-decoration-none">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="~/stylecommon/images/image_4_r.png" alt="Đèn Lồng Hình Cá" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                            Thêm vào giỏ hàng
                                        </button>
                                    </figure>
                                    <figcaption>
                                        <h3>Đèn Lồng Hình Cá</h3>
                                        <span>Thủ công Hội An</span>
                                        <div class="item-price">450,000 ₫</div>
                                    </figcaption>
                                </div>
                            </a>
                        </div>

                        <!-- Sản phẩm 3 -->
                        <div class="col-md-3">
                            <a href="/User/ProductDetail?id=2" class="text-decoration-none">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="~/stylecommon/images/image_1_r.png" alt="Đèn Lồng Hoa Sen" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                            Thêm vào giỏ hàng
                                        </button>
                                    </figure>
                                    <figcaption>
                                        <h3>Đèn Lồng Hoa Sen</h3>
                                        <span>Thủ công Huế</span>
                                        <div class="item-price">380,000 ₫</div>
                                    </figcaption>
                                </div>
                            </a>
                        </div>

                        <!-- Sản phẩm 4 -->
                        <div class="col-md-3">
                            <a href="/User/ProductDetail?id=3" class="text-decoration-none">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="~/stylecommon/images/image_2_r.png" alt="Đèn Lồng Trăng Rằm" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                            Thêm vào giỏ hàng
                                        </button>
                                    </figure>
                                    <figcaption>
                                        <h3>Đèn Lồng Trăng Rằm</h3>
                                        <span>Thủ công Huế</span>
                                        <div class="item-price">500,000 ₫</div>
                                    </figcaption>
                                </div>
                            </a>
                        </div>

                        <!-- Sản phẩm 1 -->
                        <div class="col-md-3">
                            <a href="/User/ProductDetail?id=1" class="text-decoration-none">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="~/stylecommon/images/image_3_r.png" alt="Đèn Trung Thu Rằm" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                            Thêm vào giỏ hàng
                                        </button>
                                    </figure>
                                    <figcaption>
                                        <h3>Đèn Trung Thu Rằm</h3>
                                        <span>Thủ công Hội An</span>
                                        <div class="item-price">400,000 ₫</div>
                                    </figcaption>
                                </div>
                            </a>
                        </div>

                        <!-- Sản phẩm 2 -->
                        <div class="col-md-3">
                            <a href="/User/ProductDetail?id=1" class="text-decoration-none">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="~/stylecommon/images/image_4_r.png" alt="Đèn Lồng Hình Cá" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                            Thêm vào giỏ hàng
                                        </button>
                                    </figure>
                                    <figcaption>
                                        <h3>Đèn Lồng Hình Cá</h3>
                                        <span>Thủ công Hội An</span>
                                        <div class="item-price">450,000 ₫</div>
                                    </figcaption>
                                </div>
                            </a>
                        </div>

                        <!-- Sản phẩm 3 -->
                        <div class="col-md-3">
                            <a href="/User/ProductDetail?id=2" class="text-decoration-none">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="~/stylecommon/images/image_1_r.png" alt="Đèn Lồng Hoa Sen" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                            Thêm vào giỏ hàng
                                        </button>
                                    </figure>
                                    <figcaption>
                                        <h3>Đèn Lồng Hoa Sen</h3>
                                        <span>Thủ công Huế</span>
                                        <div class="item-price">380,000 ₫</div>
                                    </figcaption>
                                </div>
                            </a>
                        </div>

                        <!-- Sản phẩm 4 -->
                        <div class="col-md-3">
                            <a href="/User/ProductDetail?id=3" class="text-decoration-none">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="~/stylecommon/images/image_2_r.png" alt="Đèn Lồng Trăng Rằm" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">
                                            Thêm vào giỏ hàng
                                        </button>
                                    </figure>
                                    <figcaption>
                                        <h3>Đèn Lồng Trăng Rằm</h3>
                                        <span>Thủ công Huế</span>
                                        <div class="item-price">500,000 ₫</div>
                                    </figcaption>
                                </div>
                            </a>
                        </div>

                    </div><!--ft-books-slider-->
                </div><!--grid-->
            </div>
        </div>
    </div>
</section>